div {
  width: 80px;
  height: 80px;
  margin: 0;
  background-color: #e74c3c;
  border: 1px solid #3498db;
  text-align: center;
  line-height: 80px;
}

div:hover {
  background-color: #c0392b;
  cursor: pointer;
}
